@use '../../scss/utilities/variables' as vars;

.CopyField {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    border-radius: 8px;
    background-color: vars.$primary;
}