@use '../../scss/utilities/variables' as vars;

.Contacts {
    &__accordion {
        position: static !important;

        border-bottom: 2px solid vars.$white;
        background-color: vars.$primary-light !important;

        &_hiddenHeader {
            h1 {
                visibility: hidden;
            }
        }
    }
}