@use './variables' as vars;

%accordion {
    position: static !important;

    border-bottom: 2px solid vars.$white;
    background-color: vars.$primary-light !important;
}

%accordion-hidden {
    visibility: hidden;

    h1 {
        display: none;
    }
}