// * Colors
$primary: #040D1B;
$primary-light: #071324;
$accent: #3959FF;
$white: #FFFF;
$dark-white: #F4F6FD;
$grey: #7E8694;
$pink: #EF39FF;
$yellow: #F8F832;
$purple: #B039FF;

// * Box shadow
$header-box-shadow: 0 20px 50px -10px rgb(3 5 15 / 50%);

// * Border
$border-radius: 0.5rem;

// * Breakpoints  
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;