@use '../../scss/utilities/variables' as vars;

.UserProfile {
    display: flex;
    align-items: center;
    justify-content: center;

    &__dataBox {
        width: 100%;
        max-width: 540px;
        padding: 50px calc(20px + (70 - 20) * ((100vw - 320px) / (1440 - 320)));

        border-radius: vars.$border-radius;
        background-color: vars.$primary-light;
    }

    &__dataGroup {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__dataItem {
        width: 100%;
        margin-bottom: 25px;
    }

    @media (min-width: vars.$md) {
        &__dataBox {
            padding: 50px 70px;
        }
    }
}