@use '../../scss/utilities/variables' as vars;

.MenuLink {
    text-align: center;
    text-decoration: none;

    color: vars.$white;

    font-size: 1.5rem;
    font-weight: 600;

    &_active {
        color: vars.$accent;
    }

    @media (min-width: vars.$xl) {
        transition: color .3s ease;

        font-size: 2rem;

        &:hover {
            transition: color .3s ease;

            color: vars.$accent;
        }
    }
}